---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply text-white bg-gray-800 text-xl font-sans;
}

p {
    @apply mb-4;
}

.main-section:after {
    @apply absolute top-0 left-0 h-screen w-screen bg-center bg-cover bg-no-repeat opacity-10 -z-1;
    background-image: url('../images/gasmask.jpg');
    content: '';
}

.text {
    @apply absolute p-2;
}

.links {
    @apply mb-4;
}

a {
    @apply text-white underline;
}

a.linkedin {
    @apply text-linkedin;
}

a.angellist {
    @apply text-angellist;
}

a.twitter {
    @apply text-twitter;
}

a.github {
    @apply text-github;
}

a.aboutme {
    @apply text-aboutme;
}

a.facebook {
    @apply text-facebook;
}

@screen sm {
    .text {
        @apply m-4
    }
}
@screen md {
    .text {
        @apply m-16
    }
}
@screen lg {
    .text {
        @apply m-32
    }
}
@screen xl {
    .text {
        @apply m-32
    }
}
