<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="bbeMFVfCgsQoSR-0vbLYK4seHeQkqG8RriOQfKE07Ng" />
    <meta name="google-site-verification" content="muSWTm4hx8LR-x_0pYSxKOCYO3ztPC8RNBHx0ufUJbk" />
    <meta name="google-site-verification" content="_2xWxbyalVXrUjMMGy1dTOb50mjVtVEmQnTVU2czN9Q" />
    <meta name="google-site-verification" content="c5E52uDuuaonrfjuwEZbpPw5ibu_qEWm1Ic8FAb0RzQ" />
    <title>{{ site.title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="shortcut icon" href="favicon.ico">
</head>
