<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="bbeMFVfCgsQoSR-0vbLYK4seHeQkqG8RriOQfKE07Ng" />
    <meta name="google-site-verification" content="muSWTm4hx8LR-x_0pYSxKOCYO3ztPC8RNBHx0ufUJbk" />
    <meta name="google-site-verification" content="_2xWxbyalVXrUjMMGy1dTOb50mjVtVEmQnTVU2czN9Q" />
    <meta name="google-site-verification" content="c5E52uDuuaonrfjuwEZbpPw5ibu_qEWm1Ic8FAb0RzQ" />
    <title>Tripp Shelnutt</title>
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/brands.min.css">
    <link rel="stylesheet" type="text/css" href="/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
    <header>
        <img src="/images/gasmask.jpg"/><h1>Tripp Shelnutt</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <span>|</span>
        <a href="/blog">Blog</a>
        <span>|</span>
        <a href="/resume">Resume</a>
        <span>|</span>
        <a href="/uses">Uses</a>
        <span>|</span>
        <a href="/about">About</a>
    </nav>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <a href="https://www.linkedin.com/in/trippshelnutt/" class="linkedin">
            <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
            </span></a>
        <a href="https://github.com/trippshelnutt" class="github">
            <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
            </span></a>
        <a href="https://twitter.com/trippshelnutt" class="twitter">
            <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
            </span></a>
    </footer>
</body>

</html>